name: Debian package tests
on:
  pull_request:
    paths:
    - insights/**
    - .github/workflows/qa-debian.yaml
    - '!**.md'
  workflow_dispatch: null
  push:
    branches:
    - main
    tags:
    - '*'
env:
  UBUNTU_VERSIONS: '["devel"]

    '
  AUTOPKGTEST_HOST: '["ubuntu-24.04", "ubuntu-24.04-arm"]

    '
jobs:
  plan:
    name: Create test plan
    runs-on: ubuntu-latest
    outputs:
      ubuntu-versions: ${{ env.UBUNTU_VERSIONS }}
      autopkgtest-host: ${{ env.AUTOPKGTEST_HOST }}
    steps:
    - run: true
  check-modified-files:
    name: Check modified files
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      list: ${{ fromJSON(steps.git-diff.outputs.modified_files) }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - id: git-diff
      name: Check modified files
      run: "set -ue\n\n# Default to empty array\nmodified_files='[]'\n\n# For pull\
        \ requests, use gh pr diff to get the list of modified files\nif [ \"${{ github.event_name\
        \ }}\" = \"pull_request\" ]; then\n  modified_files=$(gh pr diff ${{ github.event.pull_request.number\
        \ }} --name-only | \\\n    while IFS= read -r line; do\n      jq -n --arg\
        \ path \"$line\" '$path'\n    done | jq -n '. |= [inputs]')\nfi\n\necho \"\
        ${modified_files}\"\nescaped_json=$(echo \"${modified_files}\" | jq '.| tostring')\n\
        echo \"modified_files=${escaped_json}\" >> \"${GITHUB_OUTPUT}\"\n"
      env:
        GITHUB_TOKEN: ${{ github.token }}
  build-ubuntu-insights:
    name: Build ubuntu-insights debian package
    needs: plan
    strategy:
      fail-fast: false
      matrix:
        ubuntu-version: ${{ fromJSON(needs.plan.outputs.ubuntu-versions) }}
    runs-on: ubuntu-latest
    outputs:
      run-id: ${{ github.run_id }}
      pkg-dsc-devel: ${{ steps.outputs.outputs.pkg-dsc-devel }}
      pkg-src-changes-devel: ${{ steps.outputs.outputs.pkg-src-changes-devel }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Build debian package
      uses: canonical/desktop-engineering/gh-actions/common/build-debian@main
      with:
        source-dir: insights
        token: ${{ secrets.GITHUB_TOKEN }}
        docker-image: ubuntu:${{ matrix.ubuntu-version }}
    - name: Generate outputs
      id: outputs
      run: "(\n  echo \"pkg-dsc-${{ matrix.ubuntu-version }}=${{ env.PKG_DSC }}\"\n\
        \  echo \"pkg-src-changes-${{ matrix.ubuntu-version }}=${{ env.PKG_SOURCE_CHANGES\
        \ }}\"\n) >> \"${GITHUB_OUTPUT}\"\n"
  qa:
    name: Run trivial debian package tests
    needs:
    - plan
    - build-ubuntu-insights
    strategy:
      fail-fast: false
      matrix:
        ubuntu-version: ${{ fromJSON(needs.plan.outputs.ubuntu-versions) }}
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v6
      with:
        run-id: ${{ needs.build-ubuntu-insights.outputs.run-id }}
        merge-multiple: true
    - name: Install ubuntu-insights debian package
      run: 'sudo apt install -y ./ubuntu-insights_*.deb

        '
    - name: Ensure man page is installed
      run: 'MANPAGER=cat man ubuntu-insights

        '
    - name: Ensure systemd units are installed
      run: '# Verify systemd can find the units (will succeed even if inactive)

        systemctl --user --no-pager list-unit-files ubuntu-insights-collect.service

        systemctl --user --no-pager list-unit-files ubuntu-insights-collect.timer

        systemctl --user --no-pager list-unit-files ubuntu-insights-upload.service

        systemctl --user --no-pager list-unit-files ubuntu-insights-upload.timer

        '
    - name: Run trivial tests
      run: 'ubuntu-insights --version

        ubuntu-insights --help

        ubuntu-insights collect -df

        ubuntu-insights collect

        ubuntu-insights consent -s=true

        ubuntu-insights collect

        ubuntu-insights upload -df

        '
  autopkgtest:
    name: Run autopkgtest
    strategy:
      fail-fast: false
      matrix:
        ubuntu-version: ${{ fromJSON(needs.plan.outputs.ubuntu-versions) }}
        autopkgtest-host: ${{ fromJSON(needs.plan.outputs.autopkgtest-host) }}
    runs-on: ubuntu-latest
    needs:
    - plan
    - build-ubuntu-insights
    - check-modified-files
    if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || contains(needs.check-modified-files.outputs.list,
      'insights/debian/') || contains(needs.check-modified-files.outputs.list, '.github/workflows/qa-debian.yaml')
      || startsWith(github.ref, 'refs/tags/') || github.event_name == 'release' }}
    steps:
    - name: Plan autopkgtest job
      run: "set -exuo pipefail\n\njson_output='${{ toJSON(needs.build-ubuntu-insights.outputs)\
        \ }}'\nfor var in $(echo \"${json_output}\" | jq -r 'keys | .[]'); do\n  if\
        \ [[ \"${var}\" != *\"-${{ matrix.ubuntu-version }}\" ]]; then\n    continue;\n\
        \  fi\n\n  v=$(echo \"${json_output}\" | jq -r \".\\\"${var}\\\"\")\n  var=\"\
        ${var%-${{ matrix.ubuntu-version }}}\"\n  echo \"${var//-/_}=${v}\" >> \"\
        ${GITHUB_ENV}\"\n  # Environment variable names cannot contain hyphens, so\
        \ replace them with underscores before exporting.\ndone\n"
    - name: Download artifacts
      uses: actions/download-artifact@v6
      with:
        run-id: ${{ needs.build-ubuntu-insights.outputs.run-id }}
        merge-multiple: true
    - name: Run autopkgtest
      uses: canonical/desktop-engineering/gh-actions/common/run-autopkgtest@main
      with:
        lxd-image: ubuntu:${{ matrix.ubuntu-version }}
        source-changes: ${{ env.pkg_src_changes }}
